---
interface Props {
	title: string;
}

import Slide from "../components/Slide.astro";
import Layout from "../layouts/Layout.astro";
import { LoremIpsum } from "lorem-ipsum";

const lorem = new LoremIpsum({
	sentencesPerParagraph: {
		max: 4,
		min: 2,
	},
	wordsPerSentence: {
		max: 12,
		min: 6,
	},
});

const getRandomTitle = () => {
	const s = lorem.generateWords(2);
	return String(s[0]).toUpperCase() + String(s).slice(1);
};

const getRandomParagraphs = () => {
	return Array.from({ length: Math.floor(Math.random() * 3) + 1 }, () =>
		lorem.generateParagraphs(Math.floor(Math.random() * 2) + 1),
	);
};

enum Directions {
	LTR = "ltr",
	RTL = "rtl",
}
---

<Layout title="My fancy page">
	<div style="height: 100vh"></div>
	<Slide
		dir={Directions.LTR}
		title={getRandomTitle()}
		paragraphs={getRandomParagraphs()}
	/>
	<div style="height: 600px"></div>
	<Slide
		dir={Directions.RTL}
		title={getRandomTitle()}
		paragraphs={getRandomParagraphs()}
	/>
	<div style="height: 600px"></div>
	<Slide
		dir={Directions.LTR}
		title={getRandomTitle()}
		paragraphs={getRandomParagraphs()}
	/>
	<div style="height: 600px"></div>
	<Slide
		dir={Directions.RTL}
		title={getRandomTitle()}
		paragraphs={getRandomParagraphs()}
	/>
	<div style="height: 600px"></div>
	<Slide
		dir={Directions.LTR}
		title={getRandomTitle()}
		paragraphs={getRandomParagraphs()}
	/>
	<div style="height: 600px"></div>
</Layout>
